*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  max-width: 1170px ;
  margin: auto;
}

/*Navbar css*/

.NavBar{
  padding: 1rem;
  background-color: rgb(44, 44, 44);
}

.NavBar__nav{
  display: flex;
  justify-content: space-around;
  align-items:  center;
}

.marca a{
  font-size: 4rem;
  color:rgb(115, 255, 180);
  text-decoration: none;
  transition: color 0.5s ease;
}

.marca a:hover{
  color:rgb(5, 76, 243);
}

.Paginas{
  display: flex;
  list-style: none;
  align-items: center;
}

.Paginas li a{
  display: block;
  padding: 1rem;
  font-size: 2rem;
  color:rgb(115, 255, 180);
  text-decoration: none;
  margin-left: 2rem;
  transition: color 0.5s ease;
}

.Paginas li a:hover{
  color:rgb(5, 76, 243);
  border-bottom:1px solid rgb(5, 76, 243);
}

