*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  max-width: 1170px ;
  margin: auto;
}

/*Navbar css*/

.NavBar{
  padding: 1rem;
  background-color: rgb(44, 44, 44);
}

.NavBar__nav{
  display: flex;
  justify-content: space-around;
  align-items:  center;
}

.marca a{
  font-size: 4rem;
  color:rgb(115, 255, 180);
  text-decoration: none;
  transition: color 0.5s ease;
}

.marca a:hover{
  color:rgb(5, 76, 243);
}

.Paginas{
  display: flex;
  list-style: none;
  align-items: center;
}

.Paginas li a{
  display: block;
  padding: 1rem;
  font-size: 2rem;
  color:rgb(115, 255, 180);
  text-decoration: none;
  margin-left: 2rem;
  transition: color 0.5s ease;
}

.Paginas li a:hover{
  color:rgb(5, 76, 243);
  border-bottom:1px solid rgb(5, 76, 243);
}

/*estilo cdd del buscador*/

.BarraBusq{
  width: 100%;
  margin:2rem 0;
}

.form1 > input{
  width: 100%;
  padding: 10px 17px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* efecto glow suave */
  border: none;   
  border-radius: 10px;/*sin esquinas*/
  font-size: 20px;
  outline-width: 0ch;
}

.botonBusqueda{
  padding: 10px 17px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 1rem 0;
  font-size: 20px;
  display: block;
  width: 100%;
}
.botonBusqueda:hover{

  border: 1px solid rgb(255, 255, 255);
}

